{
  "id": "/killrweathermodelserver",
  "container": {
    "docker": {
      "image": "lightbend/modelserver:FDP_VERSION",
      "forcePull": true,
    }
  },
  "instances": 1,
  "cpus": 2,
  "mem": 4096

}
